.nav-bar-div {
    /* position: fixed;
    z-index: 9; */
    display: flex;
    padding-left: 10.4%;
    padding-right: 10.4%;
    background: white;
    justify-content: space-between;
    height: 10vh;
}

#matter {
    opacity: 1;
    /* color: rgba(82, 82, 82, 1); */
    color: rgb(3, 3, 3);
    font-family: "MarkPro";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 60px;
    padding-right: 9.8%;
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container>* {
    display: block;
    margin: 0;
    margin-left: 2vw;
}

/* .arrow-down{
    
} */

.title-button-txt {
    opacity: 1;
    color: rgba(51, 51, 58, 1);
    font-family: "ProximaNova-Semibold";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;

    border: none;
    background-color: white;
    padding-right: 10%;
}

.login {
    padding-right: 0;
}

/* .title-button:hover,
.title-button:active {
    text-decoration: underline;
} */

.title-container button:hover,
.title-container button:active {
    text-decoration: underline;
}

.icon-container p:hover,
.icon-container p:active {
    text-decoration: underline;
}

.navbar-mobile,
.container-mobile {
    display: none;
}

.titles-mobile {
    display: flex;
    flex-direction: column;
}

.title-button{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}

@media only screen and (min-width: 880px) {
    .titles-options {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
    }
    .nav-bar-div{
        /* position: relative; */
    }
    .isActive{
        margin-top: 10rem;
    }
}


@media only screen and (max-width: 880px) {
    .title-button{
        padding-right: 0;
    }
    .title-container .title-button-txt {
        display: none;
    }

    .container-mobile .title-button-txt {
        padding-right: 0;
        margin-top: 4%;
        text-decoration: underline;
    }

    .icon-container {
        display: none;
    }

    .navbar-mobile .icon-container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5%;
        /* margin-left: -5.5%;
        margin-right: 15%; */
    }

    .navbar-mobile .icon-container p {
        width: 35%;
        text-align: center;
        font-size: 0.9rem;
    }

    .navbar-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-mobile {
        display: flex;
        flex-direction: column;
        background-color: rgb(252, 252, 252);
        margin-top: 94vh;
        margin-right: 20vw;
        position: absolute;
        height: 84vh;
        width: 49vw;
        z-index: 9;
    }
}