.main-container{
    /* padding-left: 10.4%;
    padding-right: 10.4%; */
    padding-top: 1%;
} 
.header-container{
    z-index: 9;
    position: fixed;
    width: 100%;
}
.footer-container{
    opacity: 1;
    background-color: rgba(51, 51, 58, 1);
    margin-top: 2%;
}



/* @media only screen and (max-width: 990px) {
    .main-container{
        padding-top: 11%;
    }
}
@media only screen and (max-width: 678px) {
    .main-container{
        padding-top: 16%;
    }
}
@media only screen and (max-width: 495px) {
    .main-container{
        padding-top: 21%;
    }
}
@media only screen and (max-width: 373px) {
    .main-container{
        padding-top: 27%;
    }
}
@media only screen and (max-width: 290px) {
    .main-container{
        padding-top: 40%;
    }
} */